<h1>ユーザー検索</h1>
  <tbody>
    <% @genre.each do |g| %>
      <tr>
        <td>
          <%= link_to genre_path(g) do %>
            <%= g.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>