<h1><%= @profile.name %>のプロフィール</h1>

<%
=begin%>
 <%= render partial: "profile", locals: { profile: @profile} %><br> 
<%
=end%>

<%= link_to "編集", edit_profile_path(@profile) %><br>
<%= link_to 'マイページへ戻る' , user_path(@profile.user_id), :class => "btn btn-light" %><br>