<div class="mypage-followcount-btn">
<%= link_to @user.followings.count, user_followings_path(@user) %>フォロー<br> 
<%= link_to @user.followers.count, user_followers_path(@user) %>フォロワー<br> 

  <% unless @user == current_user %>
    <div class="mypage-follow-btn">
      <% if current_user.following?(@user) %> 
        <%= link_to user_relationships_path(@user), method: :delete do %>
          <button class="btn btn-follow-delete">フォロー解除</button>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(@user), method: :post do %>
          <button class="btn btn-follow-create">フォロー</button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>