<% visitor = notification.visitor %>
<% schedule = notification.schedule %>

<div class="notification-view">
  <%
=begin%>
 <%= link_to user_path(notification.visitor) do %>
    <%=  image_tag profile.avatar_url(notification.visitor).to_s, class:"user-thumb", style:"width: 60px;"%>
  <% end %> 
<%
=end%>
  <%= notification_form(notification) %><span class= "moderate-font"><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <br>
</div>
