<h2>退会手続き</h2>
  <p>
    退会手続きをされますと、全てのデータが削除されサービスをご利用いただけなくなります。<br>
    再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
    本当に退会してよろしいですか？
  </p>

  <%= button_to "退会する", user_registration_path, data: { confirm: "本当に退会しますか？" }, method: :delete %>
  <%= button_to "退会しない", user_path(current_user), class:"redirect-btn" %>