<h1>スケジュールを編集</h1>

<%= render partial: "form", locals: { user: @schedule.user, schedule: @schedule} %>
<%= link_to 'キャンセル' , user_schedule_path(@schedule.user, @schedule), :class => "btn btn-light" %>
