<h1>ユーザー検索</h1>
  <tbody>
    <% @prefecture.each do |prefecture| %>
      <tr>
        <td>
          <%= link_to prefecture_path(prefecture) do %>
            <%= prefecture.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>