<p>こんにちは <%= @resource.email %>さん!</p>

<p>パスワードの変更がリクエストされました。以下のリンクからパスワードの変更を行うことができます。</p>

<p><%= link_to 'Change my password', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりがない場合は、このメールを削除してください。</p>
<p>また上記のリンクにアクセスして新しいパスワードを作成するまでは、パスワードは変更されません</p>